.recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 36px 1fr;
    width: 100vw;
}

.title {
    grid-column: 1 / -1;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: xx-large;
    font-family: "Pacifico";
}

.title > p {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}
 
.servings {
    grid-column: 1 / -1;
    padding-left: 30px;
    display: flex;
}

.servings > p {
    margin: 0;
    padding: 0;
}

.recipe-image {
    grid-column: 2 / -1;
    display: flex;
    justify-content: center;
    align-items: start;
}

.ingredients {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-content: start;
    align-items: start;
    padding-left: 30px;
}

.recipe-image > img {
    height: 700px;
    width: 600px;
}

.ingredients > p {
    font-size: 20px;
    font-weight: bold;
}
